///// Reference for grid mixin
// .Row ( @width; @padding; @margin; )
// .Cols( @colspan;
//    @total_cols;
//    @padding;
//    @gutter;
//    @edge;
//    @margin_top;
//    @margin_bottom; )

@import "grid";
@import "constants";


/* Utilities */
.clear-element() { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Page layout
================================================== */

* {
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.masthead {
  .Row(@margin: 0 auto 1rem;);
    // Desktop menu
  @media (min-width: @menu-breakpoint) {
    .mainmenu {
      .Cols(4);
      li, a { display: inline; }
      li.blogtab { width: 2.6rem; }
    }
    .blogmenu {
      visibility: hidden;
      position: relative;
      float: right;
      margin-bottom: -11rem;
      height: 0;
      left: 5.5rem;
      top: 0.2rem;
      li { display: list-item; }
    }
    // Uncollapses the blog menu
    .mainmenu li:hover > .blogmenu { visibility: visible; height: auto;}
  }
  .search {
    @media (min-width: @med-breakpoint) {
      float: right;
      margin-right: 2rem;
    }
    margin-bottom: 0;
    input { display: inline; margin-bottom: 0;}
  }
  .mustreads {
    @media (max-width: @sm-breakpoint) {
      display: none; visibility:hidden;
    }
  }
}

.two-column-article {
  .Row();
  article{
    @media (min-width: @med-breakpoint) {
      width: 41.25rem;
      float: left;
      padding: 0 0.875rem;
      margin: 0
    }
  }
  aside{
    @media (min-width: @med-breakpoint) {
      .Cols(1,3);
    }
  }
}

.full-width-article {
  .Row();
}

#component_body:after { .clear-element() }

.author-bio {
  .Row(@margin: 0 0 1rem 0;);
  img { .Cols(1, 8, 0 1rem 0 0 ); }
  p { .Cols(7, 8); }
}

////////////////////////////
// Landing page list things!
///////////////////////////
.article-list-landing {
  .Row();
  // Major columns
  @media (min-width: @med-breakpoint) {
    .lists { .Cols(2,3); }
    .righthand-column { .Cols(1,3); }
    // Columns inside .lists
    .latest-list { .Cols(2,3);}
    .multimedia-list { .Cols(1,3);}
    .bottom-row li { .Cols(1,5); }
  }
}

.left-image-list li > a { width: 11.5em; float: left; }
.left-image-list li { clear: left; }

////////////////////
// Right hand column
////////////////////
.subscription-form {
  .savings-sticker {
    // Using pixel amounts here, since the SVG
    // I tried to use ended up too big :[
    position: absolute;
    margin-left: -106px;
    margin-top: 105px;
  }
  form, .subscribe2 { float: right; }
  .subscribe2 {
    display: block;
    clear: both;
    margin-right: 1.75rem;
  }
  &:after { .clear-element(); }
}

.related-links {
  h6 {
    margin: 0; padding: 0.5rem 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0.5rem 0;
    &:after { .clear-element(); }
    span {
      line-height: 2.5em; // Used for vertical centering
      margin-left: 0.3rem;
    }
  }
}
.iconlink {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  float: left;
  i {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    // Couldn't get these elements to center in its parent,
    // hence the strangely specific margins.
    &.fa-facebook, &.fa-tumblr { margin-left: 0.65rem; }
    &.fa-twitter, &.fa-facebook, &.fa-tumblr { margin-top: 0.45rem; }
    &.fa-youtube { margin: 0; }
  }
}
/////////////////
// Footer
////////////////

footer.colophon {
  @media (min-width: @med-breakpoint) {
    .Row(635 * @toRems);
    .links-left, .links-middle, .links-right {
      .Cols(
        @colspan: 1;
        @total_cols: 3;
        @margin_top: 2rem;
        @margin_bottom: 2rem;
      );
    }
  }
}
