/* Reference for grid mixin
 .Row ( @width; @padding; @margin; )
 .Cols( @colspan;
    @total_cols;
    @padding;
    @gutter;
    @edge;
    @margin_top;
    @margin_bottom; )
 */
@import "grid";

/* Values
================================================== */
@default-width: 60em;
@med-breakpoint: 48em;
@sm-breakpoint: 32em;


/* Utilities */
.clear-element() { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Page layout
================================================== */

* {
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.masthead {
  .Row(@margin: 0 auto 1rem;);
  // Mobile main menu
  .mainmenu a {
    display: block;
  }
  @media (min-width: @med-breakpoint) {
    .mainmenu {
      .Cols(4);
      li, a { display: inline; }
    }
    .blogmenu {
      visibility: hidden;
      position: relative;
      float: right;
      margin-bottom: -11rem;
      height: 0;
      left: -25em;
      top: 1.1em;
      li { display: list-item; }
    }
    // Uncollapses the blog menu
    .mainmenu li:hover > .blogmenu { visibility: visible; height: auto;}
  }
  .search {
    @media (min-width: @med-breakpoint) {
      float: right;
      margin-right: 2rem;
    }
    margin-bottom: 0;
    input { display: inline; margin-bottom: 0;}
  }
  .mustreads {
    @media (max-width: @sm-breakpoint) {
      display: none; visibility:hidden;
    }
  }
}

.two-column-article {
  .Row();
  article{
    @media (min-width: @med-breakpoint) {
        .Cols(@colspan: 3; @padding: 0 (14 * @toRems) 0 0 );
    }
  }
  aside{
    @media (min-width: @med-breakpoint) {
      .Cols(1);
    }
  }
}

.full-width-article {
  .Row();
}

#component_body:after { .clear-element() }

.author-bio {
  .Row(@margin: 0 0 1rem 0;);
  img { .Cols(1, 8, 0 1rem 0 0 ); }
  p { .Cols(7, 8); }
}

////////////////////////////
// Landing page list things!
///////////////////////////

.article-list-landing {
  .Row();
  // Major columns
  @media (min-width: @med-breakpoint) {
    .lists { .Cols(2,3); }
    .righthand-column { .Cols(1,3); }
    // Columns inside .lists
    .latest-list { .Cols(2,3);}
    .multimedia-list { .Cols(1,3);}
    .bottom-row li { .Cols(1,5); }
  }
}

.left-image-list li > a { width: 11.5em; float: left; }
.left-image-list li { clear: left; }

/////////////////
// Footer
////////////////

footer.colophon {
  @media (min-width: @med-breakpoint) {
    .Row(635 * @toRems);
    .links-left, .links-middle, .links-right {
      .Cols(
        @colspan: 1;
        @total_cols: 3;
        @margin_top: 2rem;
        @margin_bottom: 2rem;
      );
    }
  }
}
