/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Site Styles
================================================== */
@import "grid.less";
@default-width: 960 * @toRems;
@med-breakpoint: 48rem;
@sm-breakpoint: 32rem;

/* #Page Styles
================================================== */

.two-column-article {
	.Row(@padding: 0 (14 * @toRems));
	@media (min-width: @default-width) {
		article{
			.Cols(@colspan: 3; @padding: 0 (14 * @toRems) );
		}
		aside{
			.Cols(1);
		}
	}
}

footer.colophon {
	@media (min-width: @med-breakpoint) {
		.Row(635 * @toRems);
		.links-left, .links-middle, .links-right {
			.Cols(
				@colspan: 1;
				@total_cols: 3;
				@margin_top: 2rem;
				@margin_bottom: 2rem;
			);
		}
	}
}



/* #Media Queries
================================================== */
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

