/////////////
// Utilities
////////////

@grey: #6d6e70; // Text (foreground)
@light-grey: #ddd; // Background
@red: #e12300;
@orange: #F15928;
@blue:#009DDD;
@climate-blue: #006385;
@light-blue: #00b0ee;
@green: #70BF4F;
@yellow: #F8AE16;
@lavender: #C9AFFF;

@import "constants";

.fixme {
  background-color: yellow;
  border: 1px dashed red;
  min-height: 1em;
}
.accessible-hide() {
  position: absolute;
  left: -999em;
}

.red { color: @red !important; }

.logo(@multiplier: 1) {
  @logo-base-width: 13rem;
  @logo-base-height: 3rem;
  color: transparent;
  height: @logo-base-height * @multiplier;
  width: @logo-base-width * @multiplier;  // Width and background-size correspond.
  background: url('/assets/mj-logo-regent-black.png');
  background-image: none, url('/assets/mj-logo-regent-black.svg');
  background-repeat: no-repeat;
  background-size: @logo-base-width * @multiplier;
}

//////////////
// Header styles
/////////////

.mainmenu, .blogmenu {
  padding-left: 0;
  list-style: none;
}

.masthead {
  margin-top: 20px; // keeping consistent with skeleton, blah
  border-bottom: 1px solid @light-grey;
  font-family: Raleway;
  .title { .logo(); }

  // Mobile main menu style
  .title {
    position: relative;
    top: -2em;
    left: 3em;
  }
  .mainmenu {
    background-color: @grey;
    li { margin: 0; }
    a {
      display: block;
      color: #fff;
      border-bottom: 1px solid @light-grey;
      padding: 0.75em;
    }
  }
  .mobmenu-toggle{
    background: #fcfeff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfeff 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfeff 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border: 1px solid @grey;
    border-radius: 0px 5px 5px 0px;
    padding: 0.25rem;
    .fa-bars {
      font-size: 2rem;
    }
  }

  // Adjust margin when screen is cramped
  @media screen and (min-width: @menu-breakpoint)
                and (max-width: @default-width) {
    .mainmenu li {
          padding-right: 1.5% !important;
    }
  }
  // Full size menu (desktop, tablet)
  @media (min-width: @menu-breakpoint) {
    .title {
      position: static;
      margin-bottom: 2rem; }
   .mainmenu {
      background-color: #fff;
      border-bottom: 4px solid #000;
      > li {
        margin: 0 1.5rem 0 0;
        float: left;
        // Color bars (setup, then assignment)
        &:before {
          content: " ";
          position: relative;
          display: block;
          width: 20px;
          top: 0;
          left: 0;
          border-top: 4px solid #fff;
        }
        &:hover {
          border-bottom: 4px solid #fff;
          margin-bottom: -4px;
        }
        &.homepage:before, &.homepage:hover { border-color: @red; }
        &.politics:before, &.politics:hover{ border-color: @blue; }
        &.environment:before, &.environment:hover{ border-color: @green; }
        &.culture:before, &.culture:hover { border-color: @yellow;}
        &.photo-essays:before, &.photo-essays:hover{ border-color: @grey;}
        &.blogs:before, &.blogs:hover{ border-color:@lavender;}
      }
      li:last-of-type { padding: 0; }
      a {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 0.75rem;
        border-bottom: none;
      }
    }
    .blogmenu {
      background-color: #fff;
      padding-right: 0.25rem;
      li{
        list-style: none;
        margin: 0;
        padding: 0.3rem 0.3rem 0 0.3rem;
      }
      li:last-of-type { padding: 0.3rem; }
      a {
        width: 8rem;
        display: block;
        background-color: @light-grey;
        padding: 0.3rem;
        &:hover { color: @red; }
      }
    }
    .header-links {
      float: right;
      text-align: right;
      li { margin-bottom: 0; }
      li:nth-of-type(2n) { margin-right: 10px; }
      li:nth-of-type(3n) { margin-right: 20px; }
      li:nth-of-type(4n) { margin-right: 30px; }
    }
  }
}

/////////////////
// List page styles
////////////////

//// Slider
.slider-selected {
  background-color: #000;
  color: #fff;
  h1 { margin-top: 0; padding: 0 1rem;  }
  p {
    padding: 0 1rem 1rem;
    span { color: @blue; }
  }
}

.article-list-landing {
  h1.photo-essay-header {
      background-color: #000;
      color: #fff; }
  h2, h3, h4 {
    color: @red;
    margin: 0.5em 0;
  }
}

.left-image-list ul, .top-image-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  a { color: black; }
  .byline a { color: @grey; }
}
.left-image-list ul { margin: -0.25em; }
.left-image-list li a {
  margin: 0 1em 1em 0;
}

.top-image-list p { margin-top: 0.25em; }

ul.blog-items {
  margin: 0;
  padding: 0 0 0 6.5em;
  list-style: none;
  // We'll need classes for the background image.
  background: url("/assets/blog-photo.png") no-repeat;
  a { color: @grey; }
  li { margin-bottom: 1em; }
}


//////////////////
// Article styles
/////////////////

.two-column-article {
  article {
    @media (min-width: @default-width) { border-right: 2px dotted @light-grey; }
    h2 { color: @grey; }
  }

  // Applies to each list element.
  // Perhaps this should be a class?
  .byline ul, .byline li,
  .byline .publish_date,
  #component_tags ul, #component_tags li{
    display: inline;
  }
  .byline li, section#component_tags li {
    padding-right: 0.5em;
  }
  .byline {
    color: @grey;
    ul { padding-left: 0; }
  }
  #component_tags {
    margin-bottom: 1em;
    ul {
      padding: 0;
      &:before { content: "\2192\00A0"; padding-right: 0.5em; }
    }
  }

  .master-image {
    margin: 0;
    img { width: 100%; }
    figcaption span{ padding-right: 1em; }
    cite { color: @grey; }
  }
}

.full-width-article {
  header {
    padding-bottom: 1rem;
    border-bottom: 1px solid @light-grey;
    background-repeat: no-repeat;
    h1, h2, p { .accessible-hide(); }
  }

  figure.pull-right {
    float: right;
  }
}

// Common to all article types
#component_body {
  margin-top: 2em;
  margin-bottom: 2em;
  blockquote {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
  }
  blockquote.left {
    width: 33%;
    float: left;
    margin: 0 2em 0 0;
  }
  blockquote.right {
    width: 33%;
    float: right;
    margin: 0 0 0 2em;
  }
}

.author-bio {
  .name { margin: 0; }
  .position { color: @grey; }
}


////////////////////
// Right hand column
////////////////////
.subscription-form {
  margin: 1rem 0;
  padding: 1rem 0;
  @media all and (min-width: @default-width) { padding: 1rem; }
  background-color: @light-grey;
  h5 {
    margin: 0 0 1rem 0;
    color: #000;
  }
  .tiny-cover { box-shadow: 4px 4px 6px @grey; }
  form p { margin-top: 0; font-size: 0.5rem; }
  .subscribe2 {
    padding: 3px 10px;
    color: #fff;
    background-color: @red;
    border-radius: 5px;
  }
}
.related-links {
  h6 {
    color: @red;
  }
  ul {
    list-style: none;
    border-top: 1px solid @light-grey;
  }
  li {
    border-bottom: 1px solid @light-grey;
    span a {
        color: inherit;
        border-bottom: 1px dotted; }
  }
}
.iconlink {
  border-radius: 4px;
  &:hover { opacity: 0.7; }
  i {
    color: #fff;
    font-size: 1.25rem; // Resizing a FontAwesome icon here.
  }
}

.supporters-media {
  a, h6 { color: @grey; }
  h6 { margin: 0; padding: 1rem 0;}
  a {
    padding: 1rem;
    background-color: @light-grey;
    &.left-link { margin-right: 1rem; }
    &.single-link { padding: 1rem 1.5rem; }
  }
}

//////////////////////
// (The actual) Footer
//////////////////////
.colophon {
  ul {
    list-style: none;
    padding: 0;
    a { color: #000; }
  }

  // Creates the per-column alignment on larger screens.
  @media (min-width: 48rem) {
    ul.links-left { text-align: left; }
    ul.links-right { text-align: right; }
    li { margin-bottom: 0; }
  }

  .links-left, .links-middle, .tagline { margin-bottom: 0; }

  p.title {
    .logo(0.675);
    margin: 0 auto;
  }
  .tagline span, .rss a {
    background: @light-grey;
    color: white;
  }
  .tagline span {
    background: @grey;
    padding: 0.5em 2em;
  }
  .rss a {
    background: @orange;
    padding: 0.5em;
  }
}
