/////////////
// Utilities
////////////

@grey: #6d6e70; // Text (foreground)
@light-grey: #ddd; // Background
@red: #e12300;
@orange: #F15928;
@blue:#009DDD;
@climate-blue: #006385;
@light-blue: #00b0ee;
@green: #70BF4F;
@yellow: #F8AE16;
@lavender: #C9AFFF;

@default-width: 60em;
@med-breakpoint: 48em;
@sm-breakpoint: 32em;

@serif: Georgia, "Bitstream Vera Serif", "Times New Roman", serif;
@sans-serif: Verdana,Tahoma,Helvetica,"Bitstream Vera Sans",Arial,sans-serif;

.fixme {
  background-color: yellow;
  border: 1px dashed red;
  min-height: 1em;
}
.accessible-hide() {
  position: absolute;
  left: -999em;
}

.red { color: @red !important; }

.logo(@multiplier: 1) {
  @logo-base-width: 13rem;
  @logo-base-height: 3rem;
  color: transparent;
  height: @logo-base-height * @multiplier;
  width: @logo-base-width * @multiplier;  // Width and background-size correspond.
  background: url('/assets/mj-logo-regent-black.png');
  background-image: none, url('/assets/mj-logo-regent-black.svg');
  background-repeat: no-repeat;
  background-size: @logo-base-width * @multiplier;
}

.menu-border-hover(@color) { border-bottom: 4px solid @color; margin-bottom: -4px; }


//////////////
// Header styles
/////////////

.mainmenu, .blogmenu {
  padding-left: 0;
  list-style: none;
}

.masthead {
  margin-top: 20px; // keeping consistent with skeleton, blah
  border-bottom: 1px solid @light-grey;
  font-family: Raleway;
  .title { .logo(); }

  // Mobile main menu style
  .title { margin-bottom: -2rem; }
  .mainmenu {
    background-color: @grey;
    li { margin: 0; }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      border-bottom: 1px solid @light-grey;
      padding: 1em;
    }
  }
  .mobmenu-toggle{
    background: #fcfeff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfeff 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfeff 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfeff 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border: 1px solid @grey;
    border-radius: 0px 5px 5px 0px;
    padding: 0.25rem;
    .fa-bars {
      font-size: 2rem;
    }
  }

  // Adjust margin when screen is cramped
  @media screen and (min-width: @med-breakpoint)
                and (max-width: @default-width) {
    .mainmenu li {
          padding-right: 1.5% !important;
    }
  }
  @media (min-width: @med-breakpoint) {
    .title { margin-bottom: 2rem; }
   .mainmenu {
      background-color: #fff;
      border-bottom: 4px solid #000;
      li:before {
        content: " ";
        position: relative;
        display: block;
        width: 20px;
        top: 0.25rem;
        left: 0;
        border-top: 4px solid pink;
      }
      li {
        margin: 0 1.5rem 0 0;
        float: left;
        &.homepage:hover { .menu-border-hover(@red); }
        &.politics:before { border-color: @blue; }
        &.politics:hover { .menu-border-hover(@blue); }
        &.environment:before { border-color: @green; }
        &.environment:hover {.menu-border-hover(@green); }
        &.culture:before { border-color: @yellow;}
        &.culture:hover {.menu-border-hover(@yellow);}
        &.photo-essays:before { border-color: @grey;}
        &.photo-essays:hover {.menu-border-hover(@grey);}
        &.blogs:before { border-color:@lavender;}
        &.blogs:hover {.menu-border-hover(@lavender);}
      }
      li:last-of-type { padding: 0; }
      a {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 0.75rem;
        font-weight: bold;
        border-bottom: none;
      }
    }
  }

  @media (min-width: @med-breakpoint) {
    .blogmenu {
      background-color: #fff;
      padding-left: 0;
      li{
        list-style: none;
        margin: 0;
        padding: 0.3rem 0.3rem 0 0.3rem;
      }
      li:last-of-type { padding: 0.3rem; }
      a {
        width: 8rem;
        display: block;
        background-color: @light-grey;
        padding: 0.3rem;
        &:hover { color: @red; }
      }
    }
    .header-links {
      float: right;
      text-align: right;
      li { margin-bottom: 0; }
      li:nth-of-type(2n) { margin-right: 10px; }
      li:nth-of-type(3n) { margin-right: 20px; }
      li:nth-of-type(4n) { margin-right: 30px; }
    }
  }
}
.search input { font-family: @serif; }
.mustreads {
  font-family: @serif;
  font-size: 0.75em;
  line-height: 1;
}

/////////////////
// List page styles
////////////////

.article-list-landing {
  h1, h2, h3, h4{
    text-transform: uppercase;
    font-family: Raleway;
  }
  h1 {
    font-size: 1.5em;
    &.politics-header, &.environment-header, &.media-header {
      font-size: 1.75em;
    }
    &.photo-essay-header {
      font-size: 0.875em;
      background-color: #000;
      color: #fff; }
  }
}
.article-list-landing h2,
.article-list-landing h3, .article-list-landing h4{
  color: @red;
  font-size: 0.875em;
  margin: 0.5em 0;
}

.left-image-list ul, .top-image-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1.2em;
  font-size: 0.8125em;
  font-family: @serif;
  a { font-weight: bold; color: black; text-decoration: none; }
  .byline a { color: @grey; }
}
.left-image-list ul { margin: -0.25em; }
.left-image-list li a {
  margin: 0 1em 1em 0;
}

.top-image-list p { margin-top: 0.25em; }

ul.blog-items {
  margin: 0;
  padding: 0 0 0 6.5em;
  list-style: none;
  // We'll need classes for the background image.
  background: url("/assets/blog-photo.png") no-repeat;
  font-size: 0.6875em;
  a { color: @grey; text-decoration: none; }
  li { margin-bottom: 1em; }
}

.bloggers h4:after { content: " >>"; }


//////////////////
// Article styles
/////////////////

.two-column-article {
  article {
    @media (min-width: @default-width) { border-right: 2px dotted @light-grey; }
    h1 {
      // heds with long words break layout
      @media (max-width: @sm-breakpoint) { word-wrap: break-word; }
      font-family: @serif;
      font-weight: 400;
    }
    h2 {
      font-family: @serif;
      font-size: 1rem;
      font-style: italic;
      color: @grey;
      line-height: 1.35;
    }
  }

  // Applies to each list element.
  // Perhaps this should be a class?
  .byline ul, .byline li,
  .byline .publish_date,
  #component_tags ul, #component_tags li{
    display: inline;
  }
  .byline li, section#component_tags li {
    padding-right: 0.5em;
  }
  .byline {
    font-family: @serif;
    font-size: 0.75em;
    color: @grey;
    ul { padding-left: 0; }
  }
  #component_tags {
    margin-bottom: 1em;
    .section-title {
      font-family: 'Raleway';
      font-size: 0.875em;
      text-transform: uppercase;
    }
    ul {
      font-family: @serif;
      font-size: 0.625em;
      padding: 0;
      &:before { content: "\2192\00A0"; padding-right: 0.5em; }
    }
  }

  .master-image {
    margin: 0;
    img { width: 100%; }

    figcaption span{
      font-weight: bold;
      padding-right: 1em;
    }

    cite {
      font-weight: lighter;
      font-style: italic;
      color: @grey;
    }
  }
}

.full-width-article {
  header {
    padding-bottom: 1rem;
    border-bottom: 1px solid @light-grey;
    background-repeat: no-repeat;
    h1, h2, p { .accessible-hide(); }
  }

  #component_body > p:first-child:first-letter {
    font-size: 400%;
    float: left;
  }

  .lead-in { text-transform: uppercase; }

  figure.pull-right {
    float: right;
  }
}


#component_body {
  margin-top: 2em;
  margin-bottom: 2em;
  blockquote {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
  }
  blockquote.left {
    width: 33%;
    float: left;
    margin: 0 2em 0 0;
  }
  blockquote.right {
    width: 33%;
    float: right;
    margin: 0 0 0 2em;
  }
}

.author-bio {
  .name { margin: 0; text-transform: uppercase; }
  .position { font-family: @serif; font-size: 0.75em; color: @grey; }
  p { font-size: 0.75rem; }
}


////////////////////
// Right hand column
////////////////////
.subscription-form {
  margin: 1rem 0;
  padding: 1rem 0;
  @media all and (min-width: @default-width) { padding: 1rem; }
  background-color: @light-grey;
  h5 {
    margin: 0 0 1rem 0;
    color: #000;
    font-family: Raleway;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  .tiny-cover { box-shadow: 4px 4px 6px @grey; }
  form p { margin-top: 0; font-size: 0.5rem; }
  .subscribe2 {
    padding: 3px 10px;
    color: #fff;
    background-color: @red;
    border-radius: 5px;
    font-family: Raleway;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
  }
}
.related-links {
  h6 {
    font-size: 0.875rem;
    font-family: Raleway;
    text-transform: uppercase;
    color: @red;
  }
  ul {
    list-style: none;
    border-top: 1px solid @light-grey;
  }
  li {
    border-bottom: 1px solid @light-grey;
    span {
      font-family: @serif;
      font-size: 0.75rem;
      a { color: inherit; text-decoration: none;
        border-bottom: 1px dotted; }
    }
  }
}
.iconlink {
  border-radius: 4px;
  &:hover { opacity: 0.7; }
  i {
    color: #fff;
    font-size: 1.25rem;
  }
}

.supporters-media {
  p, h6 { text-align: center; }
  a, h6 {
    color: @grey;
    font-weight: 400;
    font-family: Raleway, @sans-serif;
    text-transform: uppercase;
  }
  h6 { font-size: 1rem; margin: 0; padding: 1rem 0;}
  a {
    padding: 1rem;
    background-color: @light-grey;
    text-decoration: none;
    font-size: 1.25rem;
    &.left-link { margin-right: 1rem; }
    &.single-link { padding: 1rem 1.5rem; }
  }
}

//////////////////////
// (The actual) Footer
//////////////////////
.colophon {
  font-family: 'Raleway';
  font-size: 0.875em;
  ul {
    list-style: none;
    padding: 0;
    a { color: #000; text-decoration: none; }
  }

  // Creates the per-column alignment on larger screens.
  @media (min-width: 48rem) {
    ul.links-left { text-align: left; }
    ul.links-right { text-align: right; }
    li { margin-bottom: 0; }
  }

  p, .links-left, .links-right, .links-middle { text-align: center; }

  .links-left, .links-middle, .tagline { margin-bottom: 0; }

  p.title {
    .logo(0.675);
    margin: 0 auto;
  }
  .tagline span, .rss a {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: @light-grey;
    color: white;
  }
  .tagline span {
    background: @grey;
    padding: 0.5em 2em;
  }
  .rss a {
    background: @orange;
    padding: 0.5em;
  }
  .copyright {
    font-size: 0.5rem;
    font-family: @serif;
  }
}
