/////////////
// Utilities
////////////
@grey: #6d6e70   ; // Text (foreground)
@light-grey: #ddd; // Background
@red: #e12300;
@orange: #F15928;
@blue:#009DDD;
@climate-blue: #006385;
@light-blue: #00b0ee;
@green:#70BF4F;
@yellow:#F8AE16;
@lavender:#C9AFFF;

@default-width: 60em;
@med-breakpoint: 48em;
@sm-breakpoint: 32em;

.fixme {
  background-color: yellow;
  border: 1px dashed red;
  min-height: 1em;
}

.red { color: @red !important; }

//////////////
// Header styles
/////////////

.menu-border(@color) { border-top: 3px solid @color; }
.menu-border-hover(@color) { border-bottom: 3px solid @color; }

@logo-height: 13rem;

.masthead {
  margin-top: 20px; // keeping consistent with skeleton, blah
  border-bottom: 1px solid @light-grey;
  .title {
    color: transparent;
    height: 3rem;
    width: @logo-height;  // Width and background-size correspond.
    background: url('/assets/mj-logo-regent-black.png');
    background-image: none, url('/assets/mj-logo-regent-black.svg');
    background-repeat: no-repeat;
    background-size: @logo-height;
  }
  // Mobile main menu
  .mainmenu {
    background-color: @grey;
    li { margin: 0; }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      border-bottom: 1px solid @light-grey;
      padding: 1em;
    }
  }

  // Adjust margin when screen is cramped
  @media screen and (min-width: @med-breakpoint)
                and (max-width: @default-width) {
    .mainmenu li {
          padding-right: 1.5% !important;
    }
  }
  @media (min-width: @med-breakpoint) {
   .mainmenu {
      background-color: #fff;
      border-bottom: 3px solid #000;
      li {
        padding: 0 1.5rem 0 0;
      }
      li:last-of-type { padding: 0; }
      a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding: 0.1rem 0;
        border-bottom: none;
        &.homepage:hover { .menu-border-hover(@red); }
        &.politics { .menu-border(@blue); }
        &.politics:hover { .menu-border-hover(@blue); }
        &.environment { .menu-border(@green); }
        &.environment:hover {.menu-border-hover(@green); }
        &.culture { .menu-border(@yellow);}
        &.culture:hover {.menu-border-hover(@yellow);}
        &.photo-essays {.menu-border(@grey);}
        &.photo-essays:hover {.menu-border-hover(@grey);}
        &.blags {.menu-border(@lavender);}
        &.blags:hover {.menu-border-hover(@lavender);}
      }
    }
  }

  @media (min-width: @med-breakpoint) {
    .blogmenu {
      background-color: #fff;
      li, li:last-of-type {
        margin: 0;
        padding: 0.3rem 0.3rem 0 0.3rem;
      }
      a {
        width: 7rem;
        display: block;
        background-color: @light-grey;
        padding: 0.3rem;
        &:hover { color: @red; }
      }
    }
    .header-links {
      float: right;
      text-align: right;
      li { margin-bottom: 0; }
      li:nth-of-type(2n) { margin-right: 10px; }
      li:nth-of-type(3n) { margin-right: 20px; }
      li:nth-of-type(4n) { margin-right: 30px; }
    }
  }
}

//////////////////
// Article styles
/////////////////

.two-column-article {
  article {
    @media (min-width: @default-width) { border-right: 2px dotted @light-grey; }
    // heds with long words break layout
    h1 { @media (max-width: @sm-breakpoint) { word-wrap: break-word; } }
    h2 {
      font-size: 1rem;
      font-style: italic;
      color: @grey;
      line-height: 1.1;
    }
  }

  #component_author ul, #component_author li,
  #component_author .publish_date,
  #component_tags ul, #component_tags li{
    display: inline;
  }
  section#component_author li, section#component_tags li {
    padding-right: 0.5em;
  }

  #component_tags {
    margin-bottom: 1em;
    ul {
      padding-left: 0.5em;
      font-size: 0.75em;
    }
    .section_title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .master_image {
    img { width: 100%; }

    figcaption span{
      font-weight: bold;
      padding-right: 1em;
    }

    cite {
      font-weight: lighter;
      font-style: italic;
      color: @grey;
    }
  }
}

.full-width-article {
  header {
    background-repeat: no-repeat;
    h1, h2, p {
      position: absolute;
      left: -999em;
    }
  }
}


#component_body {
  margin-top: 2em;
  margin-bottom: 2em;
}

.author_bio {
  img {
    float: left;
    margin: 0.5em;
  }
  /* Author bio name should indicate that it is a link, somehow */
  .name { margin: 0; text-transform: uppercase; }

  p { font-size: 0.75rem; }
}

//////////////////////
// (The actual) Footer
//////////////////////
.colophon {
  font-family: serif;
  @media (min-width: 48rem) {
    // Gotta be specific here...
    ul.links-left { text-align: left; }
    ul.links-right { text-align: right; }
    li { margin-bottom: 0; }
  }
  p, .links-left, .links-right, .links-middle { text-align: center; }
  .links-left, .links-middle, .tagline { margin-bottom: 0; }
  .tagline span, .rss a {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: @light-grey;
    color: white;

  }
  .tagline span {
    background: @grey;
    padding: 0.5em 2em;
  }
  .rss a {
    background: @orange;
    padding: 0.5em;
  }
  .copyright {
    font-size: 0.75rem;
  }
}
