@import "codemirror";
div.tweditor.edit-mode div.html {
    display: none;
} 
div.tweditor.view-mode div.markdown {
    display: none;
}
div.tweditor.fullscreen div.markdown {
    width: 48%;
    height: 100%;
    float: left;
}
div.tweditor.fullscreen div.markdown .Codemirror {
  height: 80%;
}
div.tweditor.fullscreen div.html {
    width:48%;
    float: right;
    height: 80%;
    overflow-y: scroll;
}
div.tweditor.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    background: white;
}
ul.tweditorMenu {
    list-style-type: none;
    padding: 0px;
}
div.tweditor.fullscreen li.splitScreenButton, div.tweditor.edit-mode li.editModeButton, div.tweditor.view-mode li.viewModeButton { 
    background-color: #eee;
}
ul.tweditorMenu li {
    display: inline;
    margin: 5px 0px;
    padding: 0px 10px;
    font-size: 25px;
}
div.tweditor.view-mode li.seperator {
    display: none;
}
div.tweditor.view-mode li.editButton {
    display: none;
}
div.tweditor li.editButton {
    border-radius: 0.2em;
    border: solid 1px;
    font-size: 15px;
    padding: 5px 9px 5px 9px;
    margin: 3px;
}
cursor:after {
    content: "|";
}

/* Markdown Editor CSS from example  */
.CodeMirror {border: 1px solid silver; border-width: 1px 2px; }
.cm-header { font-family: arial; }
.cm-header-1 { font-size: 150%; }
.cm-header-2 { font-size: 130%; }
.cm-header-3 { font-size: 120%; }
.cm-header-4 { font-size: 110%; }
.cm-header-5 { font-size: 100%; }
.cm-header-6 { font-size: 90%; }
.cm-strong { font-size: 140%; }
