<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Smoke Docs Class: Component</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.default.css">

	<link type="text/css" rel="stylesheet" href="styles/site.cyborg.css">

</head>

<body>
<div class="container-fluid">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="index.html">Smoke Docs</a>
			<ul class="nav">
				
				<li class="dropdown">
					<a href="modules.list.html" class="dropdown-toggle" data-toggle="dropdown">Modules<b
						class="caret"></b></a>

					<ul class="dropdown-menu ">
						
						<li>
							<a href="module-api.html">api</a>
						</li>
						
						<li>
							<a href="module-edit_api.html">edit_api</a>
						</li>
						
						<li>
							<a href="module-edit_views.html">edit_views</a>
						</li>
						
						<li>
							<a href="module-main.html">main</a>
						</li>
						
						<li>
							<a href="module-markdown.html">markdown</a>
						</li>
						
						<li>
							<a href="module-router.html">router</a>
						</li>
						
						<li>
							<a href="module-views.html">views</a>
						</li>
						

					</ul>
				</li>
				
				<li class="dropdown">
					<a href="classes.list.html" class="dropdown-toggle" data-toggle="dropdown">Classes<b
						class="caret"></b></a>

					<ul class="dropdown-menu ">
						
						<li>
							<a href="module-api.Component.html">Component</a>
						</li>
						
						<li>
							<a href="module-api.Data.html">Data</a>
						</li>
						
						<li>
							<a href="module-edit_api.Component.html">Component</a>
						</li>
						
						<li>
							<a href="module-edit_api.Data.html">Data</a>
						</li>
						

					</ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div class="row-fluid">

		
		<div class="span8">
			
				<div id="main">
					


	<h1 class="page-title">Class: Component</h1>
<section>

<header>
    <h2>
        <span class="ancestors"><a href="module-api.html">api</a>.</span>
    
    Component
    </h2>
    
</header>

<article>
    <div class="container-overview">
    

    
        
<dt>
    <h4 class="name" id="Component"><span class="type-signature"></span>new Component<span class="signature">(slug)</span><span class="type-signature"></span></h4>
    
    
</dt>
<dd>
    
    
    <div class="description">
        <p>Component constructor</p>
    </div>
    

    
    
    
    
    
        <h5>Parameters:</h5>
        

<table class="params table table-striped">
    <thead>
	<tr>
		
		<th>Name</th>
		

		<th>Type</th>

		

		

		<th class="last">Description</th>
	</tr>
	</thead>

	<tbody>
	

        <tr>
            
                <td class="name"><code>slug</code></td>
            

            <td class="type">
            
                
<span class="param-type">string</span>


            
            </td>

            

            

            <td class="description last"><p>slug the id of the componet</p></td>
        </tr>

	
	</tbody>
</table>

    
    
    
<dl class="details">
	

	

	

	

	

	

	

	

	



	
	<dt class="tag-source">Source:</dt>
	<dd class="tag-source">
		<ul class="dummy">
			<li>
				<a href="api.js.html">api.js</a>,
				 <a href="api.js.html#sunlight-1-line-86">line 86</a>
			</li>
		</ul>
	</dd>
	

	

	

	
</dl>

    
    

    

    
    
    
    
    
    
    
</dd>

    
    </div>

    

    

    

    

    

    
        <h3 class="subsection-title">Members</h3>

        <dl>
            
<dt>
    <h4 class="name" id="_Data"><span class="type-signature"></span>_Data<span class="type-signature"></span></h4>
    
    
</dt>
<dd>
    
    <div class="description">
        <p>Interally binds the appropiate data constructor
to the component.</p>
    </div>
    
    
    

    
<dl class="details">
	

	

	

	

	

	

	

	

	



	
	<dt class="tag-source">Source:</dt>
	<dd class="tag-source">
		<ul class="dummy">
			<li>
				<a href="api.js.html">api.js</a>,
				 <a href="api.js.html#sunlight-1-line-101">line 101</a>
			</li>
		</ul>
	</dd>
	

	

	

	
</dl>

    
    
</dd>

        
            
<dt>
    <h4 class="name" id="data"><span class="type-signature"></span>data<span class="type-signature"></span></h4>
    
    
</dt>
<dd>
    
    <div class="description">
        <p>points to the Data object for Component instance</p>
    </div>
    
    
    

    
<dl class="details">
	

	

	

	

	

	

	

	

	



	
	<dt class="tag-source">Source:</dt>
	<dd class="tag-source">
		<ul class="dummy">
			<li>
				<a href="api.js.html">api.js</a>,
				 <a href="api.js.html#sunlight-1-line-114">line 114</a>
			</li>
		</ul>
	</dd>
	

	

	

	
</dl>

    
    
</dd>

        </dl>
    

    
        <h3 class="subsection-title">Methods</h3>

        <dl>
            
<dt>
    <h4 class="name" id="_build"><span class="type-signature"></span>_build<span class="signature">()</span><span class="type-signature"></span></h4>
    
    
</dt>
<dd>
    
    
    <div class="description">
        <p>Internal function for building attrbitutes and metadata
from a Components response.</p>
    </div>
    

    
    
    
    
    
    
    
<dl class="details">
	

	

	

	

	

	

	

	

	



	
	<dt class="tag-source">Source:</dt>
	<dd class="tag-source">
		<ul class="dummy">
			<li>
				<a href="api.js.html">api.js</a>,
				 <a href="api.js.html#sunlight-1-line-107">line 107</a>
			</li>
		</ul>
	</dd>
	

	

	

	
</dl>

    
    

    

    
    
    
    
    
    
    
</dd>

        
            
<dt>
    <h4 class="name" id="get"><span class="type-signature"></span>get<span class="signature">(callback, pull)</span><span class="type-signature"> &rarr; {promise}</span></h4>
    
    
</dt>
<dd>
    
    
    <div class="description">
        <p>Checks localstorage for the component's data, calls out to mirrors if
localstorage doesn't have it or is stale</p>
    </div>
    

    
    
    
    
    
        <h5>Parameters:</h5>
        

<table class="params table table-striped">
    <thead>
	<tr>
		
		<th>Name</th>
		

		<th>Type</th>

		

		

		<th class="last">Description</th>
	</tr>
	</thead>

	<tbody>
	

        <tr>
            
                <td class="name"><code>callback</code></td>
            

            <td class="type">
            
                
<span class="param-type">function</span>


            
            </td>

            

            

            <td class="description last"><p>is called after the GET request for the component completes with the JSON as the first argument</p></td>
        </tr>

	

        <tr>
            
                <td class="name"><code>pull</code></td>
            

            <td class="type">
            
                
<span class="param-type">boolean</span>


            
            </td>

            

            

            <td class="description last"><p>don't check local storage, pull from mirrors</p></td>
        </tr>

	
	</tbody>
</table>

    
    
    
<dl class="details">
	

	

	

	

	

	

	

	

	



	
	<dt class="tag-source">Source:</dt>
	<dd class="tag-source">
		<ul class="dummy">
			<li>
				<a href="api.js.html">api.js</a>,
				 <a href="api.js.html#sunlight-1-line-139">line 139</a>
			</li>
		</ul>
	</dd>
	

	

	

	
</dl>

    
    

    

    
    
    
    
    
    <h5>Returns:</h5>
    
            
<div class="param-desc">
    <p>resolves after the callback is complete, fails on error</p>
</div>



<dl>
	<dt>
		Type
	</dt>
	<dd>
		
<span class="param-type">promise</span>


	</dd>
</dl>


        
    
    
</dd>

        </dl>
    

    

    
</article>

</section>




				</div>

				<div class="clearfix"></div>
				<footer>
					
					
		<span class="copyright">
		MotherJones Copyright © 2012-2014
		</span>
					<br />
					
		<span class="jsdoc-message">
		Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.2.2</a>
		on Tue Jul 15th 2014 using the <a
			href="https://github.com/terryweiss/docstrap">DocStrap template</a>.
		</span>
				</footer>
			</div>

			
			<div class="span3">
				<div id="toc"></div>
			</div>
			
			<br clear="both">
		</div>

	</div>
	<!--<script src="scripts/sunlight.js"></script>-->
	<script src="scripts/docstrap.lib.js"></script>
	<script src="scripts/bootstrap-dropdown.js"></script>
	<script src="scripts/toc.js"></script>

	<script>
		$( function () {
			$( "#toc" ).toc( {
				anchorName  : function ( i, heading, prefix ) {
					return $( heading ).attr( "id" ) || ( prefix + i );
				},
				selectors   : "h1,h2,h3,h4",
				showAndHide : false,
				scrollTo    : 60
			} );
			$( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
			$( "#main span[id^='toc']" ).addClass( "toc-shim" );
			$('.dropdown-toggle').dropdown();
//			$( ".tutorial-section pre, .readme-section pre" ).addClass( "sunlight-highlight-javascript" ).addClass( "linenums" );

			$( ".tutorial-section pre, .readme-section pre" ).each( function () {
				var $this = $( this );

				var example = $this.find("code" );
				exampleText = example.html();
				var lang = /{@lang (.*?)}/.exec( exampleText );
				if ( lang && lang[1] ) {
					exampleText = exampleText.replace( lang[0], "" );
					example.html(exampleText);
					lang = lang[1];
				} else {
					lang = "javascript";
				}

				if ( lang ) {

					$this
						.addClass( "sunlight-highlight-" + lang )
						.addClass( "linenums" )
						.html( example.html() );

				}
			} );

			Sunlight.highlightAll( {
				lineNumbers : true,
				showMenu:true,
				enableDoclinks:true
		} );
		} );

	</script>

	<!--Google Analytics-->
	

	<!--Navigation and Symbol Display-->
	

</body>
</html>